body > footer {
    background-color: #001936;
    color: white;
    height: 90px;
    position:sticky;
    left: 0;
    width: 100%;
    margin-top: auto;
}

.rodape {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.rodape div {
    text-align: center;
    padding-top: 35px;
}


