nav.nav-menu {
    width: 80px;
    height: 100%;
    background-color: #202020;
    box-shadow: 3px 0 0 #002b4b;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .4s;
    z-index: 9999;
}

nav.nav-menu.expandir {
    width: 300px;
    transition: 1s;
    color: white;
    ul li.item-menu a .icon i{
        transition: .4s;
        margin-left: 0px;
    }
}

ul li.item-menu a .icon i{
    margin-right: 15px;
    left: 0;
}

ul {
    height: 100%;
    padding: 0;
    list-style-type: none;
}

ul li.item-menu {
    transition: .4s;
    border-radius: 3px;
}

ul li.ativo{
    background-color: #002b4b;
}

ul li.item-user {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

ul li.item-menu:hover {
    background: #002b4b;
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 25px 4%;
    display: flex;
    line-height: 40px;
    text-align: center;
}

ul li.item-menu a .txt-link {
    margin-left: 70px;
    transition: .6s;
    opacity: 0;
}

nav.nav-menu.expandir .txt-link {
    margin-left: 20px;
    opacity: 1;
}

ul li.item-menu a .icon i{
    font-size: 24px;
}

/* ------Footer------*/

footer.footer-main {
    background-color: #202020;
    color: white;
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-left: 0px;
}

footer div.rodape-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

footer.rodape-footer div.txt-footer {
    text-align: center;
    padding-top: 35px;
}

@media only screen and (max-width: 767px) {
    body {
        margin-left: 60px;
    }

    ul li.item-menu {
        transition: .4s;
        border-radius: 3px;
    }

    nav.nav-menu {
        width: 60px;
        height: 100%;
        background-color: #202020;
        box-shadow: 3px 0 0 #002b4b;
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        transition: .4s;
        z-index: 9999;
    }

    nav.nav-menu.expandir {
        width: 200px;
        transition: 1s;
        color: white;
        ul li.item-menu a .icon i{
            transition: .4s;
            margin-left: 0px;
        }
    }

    ul li.item-menu a .icon i{
        font-size: 20px;
        margin-right: 20px;
    }

    footer.footer-main {
        background-color: #202020;
        color: white;
        height: 100px;
        width: 100%;
        position: fixed;
        bottom: 0;
        padding-bottom: 5px;
    }

    footer div.rodape-footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer.rodape-footer div.txt-footer {
        text-align: center;
        padding-top: 10px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    ul li.item-menu {
        transition: .4s;
        border-radius: 3px;
        margin-left: 15px;
    }

    nav.nav-menu.expandir {
        width: 250px;
        transition: 1s;
        color: white;
        ul li.item-menu a .icon i{
            transition: .4s;
            margin-left: 0px;
        }
    }
}

@media only screen and (max-width: 1280px) and (min-width: 768px) {
    ul li.item-menu {
        transition: .4s;
        border-radius: 3px;
        margin-left: 15px;
    }

    nav.nav-menu.expandir {
        width: 250px;
        transition: 1s;
        color: white;
        ul li.item-menu a .icon i{
            transition: .4s;
            margin-left: 0px;
        }
    }
}
